.tab-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
  }
  
  .tab-header button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #555;
  }
  
  .tab-header .active {
    border-bottom: 3px solid red;
    color: red;
    border-radius: 0;
  }
  

  .tab-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
  }
  
